<<<<<<< HEAD
<h1>New event</h1>

<%= render 'form' %>

<%= link_to 'Back', society_events_path %>
=======
<h1>New event</h1>

<%= render 'form' %>

<%= link_to 'Back', events_path %>
>>>>>>> refs/remotes/origin/master
