<div>
	<h1>All events</h1>
	<table>
		<thead>
		    <tr>	  
		      <th>Name</th>	    
		      <th>Website</th>	      
		    </tr>
		</thead>
		<tbody>
			<% @events.try(:each) do |event|%>
			<tr>
				<td><%= link_to event.name, event %></td>
				<td><%= link_to event.website, event.website %></td>
			</tr>
  	        <% end %>
		</tbody>
	</table>
</div>