<ul class="bxslider">
  <li><%= image_tag "test1.jpg" %></li>
  <li><%= image_tag "test2.jpg" %></li>
  <li><%= image_tag "test3.jpg" %></li>
  <li><%= image_tag "test4.jpg" %></li>
</ul>

<div>
	
</div>
