/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bxslider
 *= require_tree .
 *= require jquery.ui.all
 *= require gritter
 *= require jquery-ui/redmond
 *= require jquery-ui-timepicker-addon
 *= require jquery.timepicker.css
 */
.logo{
	float: left;
}
.title{
	float: left;
}
.login{
	float: right;
	margin-top: 100px;
}
.menu{
    float: left;
    width: 25%;
    height: 150px;
}
.menu ul {
  padding-left: 5px; }
.menu ul ul {
    padding-left: 20px; }
.menu a {
  text-decoration: none;
  color: #7f7669; }
.menu a:hover, .menu a:active {
    text-decoration: underline; }
.menu li {
  border: medium none;
  list-style-image: none;
  list-style-type: none;
  padding: 2px; }
.menu li a.selected {
    color: #4c4338;
    text-decoration: underline; }
.menu li li {
    font-size: 10pt; }
.content{
	float: right;
	width: 75%;
}


