// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.unread{
  background-color: #E6E6E6;
  
  td{
    font-weight: bold;
  }
}