// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index_society{
  float: left;
  width: 50%; 
  padding: 20px;
}

.index_event{
  float: left;
  width: 50%;
  padding: 20px;
}

.acc_img{
  float: left;
  margin: 10px;
}

.acc_text{
  float: left;
  margin: 10px;
}