// Place all the styles related to the societies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.society_logo{ 
  float: left;
  margin-right: 40px;
  }
.society_details{
  float: left;
  width: 450px;
}
.society_info{
  height: 250px;
}
