<footer>
	<div class="footer_info">
		<p>Designed by: Fei Tang, Kimple Ke, Perry Yu</p>
		<p>University of Melbourne</p>
		<p>SWEN30006 Software Modeling and Design</p>
		<p>Copyright &copy; 2014</p>	
	</div>
</footer>