<header>
	<div class="logo">
		<%= image_tag("logo.png",alt: "Club-biz logo", class: "round") %>
	</div>
	<div class="title"><h1 class="title"><b>Club-Biz</b></h1></div>
	<div class="login"></div>
	<div class="nav"></div>
	<div class="search"></div>
	<hr />			
</header>