<header>
	<div class="banner_top row">
		<div class="col-md-8">
			<div class="logo">
				<%= image_tag("logo.png",alt: "Club-biz logo", class: "round") %>
			</div>			
		</div>
		<%= render 'layouts/login' %>
	</div>
	<div class="banner_second row">
		<%= render 'layouts/menu' %>
		<%= render 'layouts/search' %>
	</div>
</header>