<div class="login">
	<% if logged_in? %>
		<p>Welcome, <%= link_to current_member.email, current_member %> 
		<%= link_to "Log Out", logout_path %></p>
	<% else %>
		<%= link_to "Login", login_path %>		
	<% end %>
</div>