<div id="listContainer">
	<ul id="expList">
		<li><%= link_to "Home", root_path %></li>
		<li>
			Societies
			<ul id="expList">
				<li><%= link_to "All Societies", societies_path %></li>
				<li>
					Popular Societies
					<ul id="expList">
						<li><a href="#">Society 1</a></li>
						<li><a href="#">Society 2</a></li>
					</ul>
				</li>
			</ul>
		</li>
		<li>
			Events
			<ul id="expList">
				<li><%= link_to "All Events", events_path %></li>
				<li>
					Hot Events
					<ul id="expList">
						<li><a href="#">Event 1</a></li>
						<li><a href="#">Event 2</a></li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
</div>