<div class="menu col-md-6">
	<%= render_navigation expand_all: true do |primary| %>
		<% primary.item :home, 'Home', root_path do |sec| %>
			<%if logged_in? %>
				<% sec.item :profile, 'Profile', url_for(current_member) %>
				<% sec.item :profile, 'Message', [current_member, :messages] %>	
				<% sec.item :profile, 'Log Out', logout_path %>
			<% else %>
				<% sec.item :profile, 'Login', login_path %>
				<% sec.item :profile, 'Sign Up', registration_path %>
			<% end %>
		<% end %>		
		<% primary.item :societies, 'Societies', societies_path do |sec| %>
			<% sec.item :my_societies, 'My Societies',if: proc {logged_in?} do |s| %>
				<% current_member.societies.uniq.take(10).each do |society| %>
					<% s.item :society, society.name, url_for(society) %>
				<% end %>
			<% end %>
			<% sec.item :hot_societies, 'Popular Societies' do |s| %>
				<% Society.all.sort_by{|society| society.joins.count}.take(10).each do |society| %>
					<% s.item :society, society.name, url_for(society) %>
				<% end %>
			<% end %>
			<% sec.item :new_society, 'Create Society', new_society_path, if: proc {logged_in?} %>
		<% end %>
		<% primary.item :events, 'Events', eventslist_path do |sec| %>
			<% sec.item :reserved_events, 'Rerserved Events',if: proc {logged_in?} do |e| %>
				<% current_member.reservations.collect{|res| res.event}.uniq.take(10).each do |event| %>
					<% e.item :event, event.name, [event.society, event] %>
				<% end %>				
			<% end %>
			<% sec.item :hot_events, 'Hot Events' do |e| %>
				<% Event.all.sort_by{|event| event.reservations.count}.take(10).each do |event| %>
					<% e.item :event, event.name, [event.society, event] %>
				<% end %>
			<% end %>
		<% end %>
	<% end %>
</div>		
